<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link
            {% if request.resolver_match.view_name  == 'quizes:quizes_list' %}
              active
            {% endif %}"
            href="{% url 'quizes:quizes_list' %}">Список тестов</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link
              {% if request.resolver_match.view_name  == 'users:my_profile' %}
                active
              {% endif %}"
              href="{% url 'users:my_profile' %}">Личный кабинет</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link"
            href="{% url 'users:signup' %}">Регистрация</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
          </li>
        {% endif %}

    </div>
  </nav>
</header>